<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
    <script src="../javascripts/nav.js"></script>
    <title>Eldia</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
    <script src="../javascripts/dietisten.js"></script>
</head>
<body>
<h1>Eerstelijns Di&euml;tisten Regio Arnhem</h1>
<nav>
    <a href="index.html">home</a>
    <a href="dietisten.html" id="artsen">Di&euml;tisten</a>
    <a href="nieuws.html" id="apo">Nieuws</a>
    <a href="vergoedingen.html" id="logo">Vergoedingen</a>
</nav>
<div class="wrapper">
    <div> <!-- subheader and apples -->
    <h2>De di&euml;tisten aangesloten bij Eldia</h2>
    <div class="flexboxLocations">
        <button class="notgreen">Arnhem</button>
        <button class="notgreen">Bemmel</button>
        <button class="notgreen">Didam</button>
        <button class="notgreen">Dieren</button>
        <button class="notgreen">Doorwerth</button>
        <button class="notgreen">Driel</button>
        <button class="notgreen">Duiven</button>
        <button class="notgreen">Elst</button>
        <button class="notgreen">Gendt</button>
        <button class="notgreen">Giesbeek</button>
        <button class="notgreen">Herveld</button>
        <button class="notgreen">Herwen</button>
        <button class="notgreen">Heteren</button>
        <button class="notgreen">Huissen</button>
        <button class="notgreen">Oosterbeek</button>
        <button class="notgreen">Opheusden</button>
        <button class="notgreen">Rheden</button>
        <button class="notgreen">Tolkamer</button>
        <button class="notgreen">Velp</button>
        <button class="notgreen">Westervoort</button>
        <button class="notgreen">Zevenaar</button>
    </div> <!-- end of flexboxLocations -->
    </div> <!-- end of subheader and apples -->
    <div class="target">

    </div> <!-- end of target2 -->
</div> <!-- end of wrapper
</body>
</html>
