<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel='stylesheet' href='../stylesheets/dietisten.css' />
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous"></script>
    <script src="../javascripts/nav.js"></script>
    <title>Eldia</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
</head>
<body>
<div id="container">
    <div id="wrapper">
        <h1>Eerstelijns Di&euml;tisten Regio Arnhem</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="dietisten.html" id="artsen">Di&euml;tisten</a>
            <a href="nieuws.html" id="apo">Nieuws</a>
            <a href="vergoedingen.html" id="logo">Vergoedingen</a>
        </nav>
        <div class="vergoedingen">
            <h2>Basis:</h2>
            <p>In 2016 wordt de di&euml;tist 3 uur vergoed in de basisverzekering.</p>
            <h2>Aanvullend:</h2>
            <p>Voor de vergoedingen in de aanvullende verzekering voor 2015 klik <a href="http://www.zorgwijzer.nl/vergoeding/dieetadvies" target="_blank">hier</a></p>
            <h2>Keten:</h2>
            <p>Daarnaast heeft iedere pati&euml;nt met Diabetes Mellitus, COPD of CVRM (een cardio-vasculaire aandoening) recht op vergoeding via de ketenzorg. (geen eigen risico)</p>
        </div></div>
    <div id="footer">Om contact op te nemen met Eldia mail naar eldiarnhem@gmail.com</div>
</div>
</body>
</html>
